/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

body{

    margin: 0;
    padding: 0;
    font-family: 'Fraunces', serif;
}

p, a {

    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    
}

.menu {

    position: absolute;
    display: flex;
    width: 100%;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    
}


.header-logo {

    margin: 0 0 0 50px;


}

.header-logo img{

    width: 130%;
}

.nav-links {

    
    width: 580px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.nav-links a{

    text-decoration: none;
    color: rgb(251, 248, 248, 82%);
    
}

.nav-links a:hover{

    color: hsl(51, 100%, 49%);
    transition: color 500ms;
}

.nav-links button{

    color: hsl(212, 27%, 19%);
    font-size: 18px;
    border: none;
    border-radius: 50px;
    padding: 15px 30px;
}
    
.nav-links button:hover{

    color: white;
    background-color: hsl(7, 99%, 70%);
    transition: background-color 1000ms;
}


.header-section{

    height: 700px;
    

}

.header-text-container{

    position: absolute;
    left: 28%;
    bottom: 70%;
    color: white;
}

.header-text-container h2{

    font-size: 50px;
    letter-spacing: 8px;
}

.header-arrow-container{

    position: absolute;
    left: 49%;
    bottom: 45%;
}



.header-img-container{

    height: 100%;  
}
    

.header-img{
   
    width: 100%;
    height: 100%;  
    object-fit: cover;
}

.sections {

    display: flex;
    height: 600px;
}

.sections-text-container{

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.sections-text {

    display: flex;
    flex-direction: column;
    margin: 0 200px;
    position: relative;
}

.text-top{

    font-weight: 900;
    font-size: 40px;
    color: hsl(212, 27%, 19%);
    margin-bottom: 40px;
    line-height: 48px;
    width: 450px;
}

.text-content{

    color: hsl(232, 10%, 55%);
    width: 450px;
}

.text-btm{

    font-weight: 900;
    color: hsl(212, 27%, 19%);
    margin: 40px 0 0 6px;
    cursor: pointer;
}

.empty-div1{

    height: 6px;
    width: 130px;
    background-color: hsl(51, 100%, 49%, 25%);
    border-radius: 4px;
    position: absolute;
    bottom: 0%;

}

.empty-div1:hover {

    cursor: pointer;
    background-color: hsl(51, 100%, 49%);
    opacity: 0.5;
    
}

.empty-div2{

    height: 6px;
    width: 130px;
    background-color: hsl(7, 99%, 70%, 25%);
    border-radius: 4px;
    position: absolute;
    bottom: 0%;
}

.empty-div2:hover {

    cursor: pointer;
    background-color: hsl(7, 99%, 70%);
    opacity: 0.5;
    
}

.sections-img-container {
    position: relative;

}

.sections-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.graphic-design-text-container {

    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.graphic-design-text-container h4{


    color: hsl(167, 40%, 24%);
    font-weight: 900;
    font-size: 25px;
    margin-bottom: 24px;
    
}

.graphic-design-text-container p{

    color: hsl(167, 40%, 24%);
    width: 380px;
    line-height: 165%;

}

.photography-text-container {

    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.photography-text-container h4{


    color: hsl(198, 62%, 26%);
    font-weight: 900;
    font-size: 25px;
    margin-bottom: 24px;
    
}

.photography-text-container p{

    color: hsl(198, 62%, 26%);
    width: 380px;
    line-height: 165%;

}



.testimonialSection {

    height: 760px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 200px;
}


.testimonial-header-text h1{
    
    color: hsl(210, 4%, 67%);
    font-size: 18px;
    letter-spacing: 0.3rem;
    margin-bottom: 90px;
}

.testimonial-containers {

    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 16px;
}

.testimonial-img img{

    border-radius: 72px;
    width: 50%;
    margin-bottom: 80px;
}

.testimonial-text p{

    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    color: hsl(213, 9%, 39%);
    margin-bottom: 80px;
    line-height: 2rem;
}

.testimonial-person h5{

    font-size: 18px;
}


.testimonial-person p{

    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    color: hsl(210, 4%, 67%);

}

.lastSection {

    display: flex;
    height: 400px;
}


.footer {

    background-color: #90d4c6;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    

}

.footer-logo {

   width: 180px;
}

.footer-logo img{

    width: 100%;
}


.footer-links {

    width: 300px;
    display: flex;
    justify-content: space-between;
    margin: 40px 0 70px;

}

.footer-links a{

    color: hsl(168, 34%, 41%, 90%);
    text-decoration: none;
}

.footer-links a:hover {

    color: white;
    transition: color 500ms; 
} 


.icon-links {

    width: 165px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

}


.icon-links img:hover {

    filter: brightness(0) invert(1);
    transition: filter 500ms;

}