/* || RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


/* || VARIABLES*/

:root{

    /*COLORS*/
        /*Primary*/
    --NAVBAR-BLUE: rgb(62,191,255);
    --NAV-LINKS-COLOR: hsla(0, 27%, 98%, 0.82);
    --NAV-LINKS-BG-COLOR: hsla(0, 0%, 100%, 0.3);
    --SOFT-RED: hsl(7, 99%, 70%);
    --YELLOW: hsl(51, 100%, 49%);
    --GRAPHIC-DESIGN-TEXT-COLOR: hsl(167, 40%, 24%);
    --PHOTOGRAPHY-TEXT-COLOR: hsl(198, 62%, 26%);
    --FOOTER-BG-COLOR: #90d4c6;
    --FOOTER-CONTENT-COLOR: hsl(168, 34%, 41%);
    --FOOTER-NAV-LINKS-COLOR: hsl(168, 34%, 41%, 90);

        /*Neutral*/
    --WHITE: hsl(0, 0%, 100%);
    --BODY-BGCOLOR: hsl(30, 37%, 97%);
    --NAV-BUTTON-TEXT-COLOR: hsl(212, 27%, 19%);
    --SECTION-CONTENT-TEXT-COLOR: hsl(232, 10%, 55%);
    --TESTIMONIAL-HEADER-COLOR: hsl(210, 4%, 67%);
    --TESTIMONIAL-TEXT-COLOR: hsl(213, 9%, 39%);
    

    /*FONTS*/
    --FRAUNCES-FONT-FAM: 'Fraunces', serif;
    --BARLOW-FONT-FAM: 'Barlow', sans-serif;
    --DEFAULT-FONT-SIZE: 18px; 

}

/* || GENERAL STYLES*/

body{

    font-family: 'Fraunces', serif;
    font-size: 18px;
    background-color: var(--BODY-BGCOLOR);
}

p, a {

    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    text-decoration: none;
    
}