/* || HERO SECTION*/

.header-section{

    height: 750px;
    

}

.header-text-container{

    position: absolute;
    left: 50%;
    bottom: 60%;
    transform: translate(-50%, -50%);
    color: white;
}

.header-text-container h2{

    font-size: 55px;
    letter-spacing: 8px;
    font-weight: 900;
}

.header-arrow-container{

    position: absolute;
    left: 49%;
    bottom: 40%;
}



.header-img-container{

    height: 100%;  
    position: relative;
    z-index: -1;
}
    

.header-img{
   
    width: 100%;
    height: 100%;  
    object-fit: cover;
}

/* || SECTIONS*/

.sections {

    display: flex;
    height: 600px;
}

.sections-text-container{

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.sections-text {

    position: relative;
}

.text-top{

    font-weight: 900;
    font-size: 40px;
    color: hsl(212, 27%, 19%);
    margin-bottom: 40px;
    line-height: 48px;
    width: 450px;
}

.text-content{

    color: hsl(232, 10%, 55%);
    width: 450px;
}

.text-btm{

    font-weight: 900;
    color: hsl(212, 27%, 19%);
    margin: 40px 0 0 6px;
    cursor: pointer;
}

.empty-div1{

    height: 10px;
    width: 130px;
    background-color: hsl(51, 100%, 49%, 25%);
    border-radius: 4px;
    position: absolute;
    bottom: -1%;

}

.empty-div1:hover {

    cursor: pointer;
    background-color: hsl(43, 100%, 50%);
    opacity: 0.5;
    
}

.empty-div2{

    height: 10px;
    width: 130px;
    background-color: hsl(7, 99%, 70%, 25%);
    border-radius: 4px;
    position: absolute;
    bottom: -1%;
}

.empty-div2:hover {

    cursor: pointer;
    background-color: hsl(7, 99%, 45%);
    opacity: 0.5;
    
}

.sections-img-container {
    position: relative;

}

.sections-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.graphic-design-text-container {

    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.graphic-design-text-container h4{


    color: hsl(167, 40%, 24%);
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 28px;
    
}

.graphic-design-text-container p{

    color: hsl(167, 40%, 24%);
    width: 350px;
    line-height: 165%;
    font-size: 16px;

}

.photography-text-container {

    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.photography-text-container h4{


    color: hsl(198, 62%, 26%);
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 28px;
    
}

.photography-text-container p{

    color: hsl(198, 62%, 26%);
    width: 350px;
    line-height: 165%;
    font-size: 16px;

}

/* || TESTIMONIAL SECTION*/

.testimonialSection {

    height: 760px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 200px;
}


.testimonial-header-text h1{
    
    color: hsl(210, 4%, 67%);
    font-size: 18px;
    letter-spacing: 0.3rem;
    margin-bottom: 90px;
}

.testimonial-containers {

    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 16px;
}

.testimonial-img img{

    border-radius: 72px;
    width: 50%;
    margin-bottom: 80px;
}

.testimonial-text p{

    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    color: hsl(213, 9%, 39%);
    margin-bottom: 80px;
    line-height: 2rem;
}

.testimonial-person h5{

    font-size: 18px;
}


.testimonial-person p{

    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    color: hsl(210, 4%, 67%);

}

.lastSection {

    display: flex;
    height: 400px;
}

