/* || HERO SECTION*/

.hero-section{

    height: 750px;
    position: relative;
    z-index: -1;
    width: 100%;
    
}

.hero-img-container{

    height: 100%;  
    position: relative;
    z-index: 99;
    display: flex;
}
    

.hero-img{
   
    width: 100%;
    height: 100%;  
    object-fit: cover;
}

.hero-content-container{

    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 100;
    
}

.hero-content-container h1{

    color: white;
    font-size: 60px;
    letter-spacing: 8px;
    font-weight: 900;
    margin-bottom: 80px; 
    white-space: nowrap;

}

.hero-content-container img{

    animation: arrow-movement 2s ease infinite;
}

@keyframes arrow-movement{

    0%, 40%, 100%{
        transform: translateY(20%);
    }

    20%, 60%{
        transform: translateY(-20%);
    }
}



/* || OTHER SECTIONS*/

.sections {

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sections-text-container{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--WHITE);
}

.sections-text {

    position: relative;
}

.text-top{

    font-weight: 900;
    font-size: 40px;
    color: hsl(212, 27%, 19%);
    margin-bottom: 40px;
    line-height: 48px;
    width: 450px;
}

.text-content{

    color: hsl(232, 10%, 55%);
    width: 450px;
}

.text-btm{

    font-weight: 900;
    font-size: 16px;
    color: hsl(212, 27%, 19%);
    margin: 40px 0 0 6px;
    cursor: pointer;
}

.empty-div1{

    height: 10px;
    width: 130px;
    background-color: hsl(51, 100%, 49%, 25%);
    border-radius: 4px;
    position: absolute;
    margin-top: -1%;

}

.empty-div1:hover {

    cursor: pointer;
    background-color: hsl(43, 100%, 50%);
    opacity: 0.5;
    
}

.empty-div2{

    height: 10px;
    width: 130px;
    background-color: hsl(7, 99%, 70%, 25%);
    border-radius: 4px;
    position: absolute;
    margin-top: -1%;
}

.empty-div2:hover {

    cursor: pointer;
    background-color: hsl(7, 99%, 45%);
    opacity: 0.5;
    
}

.sections-img-container {
    position: relative;
    height: auto;

}

.sections-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.graphic-design-text-container {

    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.graphic-design-text-container h4{


    color: hsl(167, 40%, 24%);
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 28px;
    
}

.graphic-design-text-container p{

    color: hsl(167, 40%, 24%);
    width: 350px;
    line-height: 165%;
    font-size: 16px;

}

.photography-text-container {

    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.photography-text-container h4{


    color: hsl(198, 62%, 26%);
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 28px;
    
}

.photography-text-container p{

    color: hsl(198, 62%, 26%);
    width: 350px;
    line-height: 165%;
    font-size: 16px;

}

/* || TESTIMONIAL SECTION*/

.testimonialSection {

    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 200px;
    margin: 150px 0;
}


.testimonial-header-text h1{
    
    color: hsl(210, 4%, 67%);
    font-size: 21px;
    letter-spacing: 0.3rem;
    margin-bottom: 70px;
    font-weight: 900;
    
}

.testimonial-containers {

    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 16px;
    
}

.testimonial-img img{

    border-radius: 72px;
    width: 50%;
    margin-bottom: 50px;
}

.testimonial-text p{

    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    color: hsl(213, 9%, 39%);
    margin-bottom: 70px;
    line-height: 2rem;
}

.testimonial-person h5{

    font-size: 18px;
    font-weight: 900;
}


.testimonial-person p{

    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    color: hsl(210, 4%, 67%);

}

/* || LAST SECTION*/

.lastSection {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* || MEDIA QUERIES*/

@media (max-width: 1300px) {

    .testimonialSection{
        padding: 0 100px;
    }

}

@media (max-width: 1000px) {

    /* || HERO SECTION*/
    .hero-content-container h1{
        white-space: pre-wrap;
    }

    /* || OTHER SECTIONS*/
    
    .sections{
        grid-template-columns: 1fr;
    }

    .sections-text-container {
        text-align: center;
        padding: 100px 0;
    }

    .text-top{
        font-size: 38px;

    }

    .text-content{

        line-height: 30px;
    }
 

    .empty-div1, .empty-div2{

        right: 35%;
        
    }

    .sections-img-container {
        order: -1;
    
    }

    /* || TESTIMONIAL SECTION*/

    .testimonialSection {
        margin: 100px 0 0 0;
    }

    .testimonial-containers {

        flex-direction: column;
    }

    .testimonial-header-text h1{
        
        margin-bottom: 100px;
        
    }

    .testimonials {
        margin-bottom: 100px;
        max-width: 400px;
    }

    .testimonial-img img{

        margin-bottom: 30px;
    }
    
    .testimonial-text p{
    
        margin-bottom: 30px;
    }

    /* || LAST SECTION*/

    .lastSection {

        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 550px) {

    /* || HERO SECTION*/

    /* .hero-img{

       
        
    } */

    .hero-content-container h1{
        font-size: 42px;
    }

    .text-top, .text-content{
        max-width: 250px;
    }

    .empty-div1, .empty-div2{

        right: 23%;
        
    }

    .sections-img-container {
        min-height: 500px;
    
    }

    .graphic-design-text-container{

        top: 78%;
    }

    .graphic-design-text-container p{

        width: 300px;
        margin-bottom: 20px;
        
    }

    .photography-text-container {

        top: 78%;
    }

    .photography-text-container p{

        width: 300px;

    }

    .testimonialSection{
        padding: 0 20px;
    }

    .testimonial-header-text h1{
    
        font-size: 18px;
        margin-bottom: 70px;   
    }

    .testimonial-text p{

        font-size: 15px;
        line-height: 1.5rem;
    }
}

@media (max-width: 350px) {

    /* || HERO SECTION*/
    .hero-content-container h1{
        font-size: 35px;
    }

    .testimonial-header-text h1{
    
        line-height: 3rem;   
    }


    
}